<div class="big-title flex-row centered">
    <h3>{{ movie.title }}</h3>
</div>
<div class="flex-row centered">
    <div class="content flex-row gap-16 flex-wrap">
        <div class="trailer">
            <iframe [src]="constructYoutubeEmbeddedUrl(movie.trailerLink) | safe" frameBorder="0"
                allowfullscreen></iframe>
        </div>
        <div class="info">
            <div class="movie-image flex-row align-center centered">
                <img [src]="'assets/posters/' + movie.posterFileName" [alt]="movie.title + '\'s movie poster'">
            </div>
            <p>{{ movie.description }}</p>
            <p><b>Rating: </b>{{ movie.rating }}</p>
            <p><b>Duration: </b> {{ movie.duration }}</p>
            <p><b>Genre: </b>
                <ng-container *ngFor="let genre of movie.genre">
                    {{ genre }}
                </ng-container>
            </p>
            <p><b>Released date: </b>{{ movie.releasedDate }}</p>
            <ng-container *ngIf="!isMovieInMyList; else remove">
                <div class="flex-column align-center centered button add" (click)="saveToMyList()">
                    <span class="material-symbols-outlined">
                        bookmark_add
                    </span>
                    <p>Add to My List</p>
                </div>
            </ng-container>
            <ng-template #remove>
                <div class="flex-column align-center centered button remove" (click)="removeFromMyList()">
                    <span class="material-symbols-outlined">
                        bookmark_remove
                    </span>
                    <p>Remove from My List</p>
                </div>
            </ng-template>

        </div>
    </div>
</div>