h3 {
    text-align: center;
}

.trailer {
    flex: 1 1 auto;
    iframe {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

.info {
    flex: 1;
    p {
        margin-bottom: 4px;
    }
}

.button {
    margin-top: 32px;
    span {
        padding: 10px;
        border-radius: 100%;
        background-color: var(--background-color);
        font-size: 32px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: transform 150ms ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.movie-image {
    img {
        width: 200px;
    }
    margin-bottom: 8px;
}
