.movie-card {
    position: relative;
    width: 180px;
    height: 280px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    transition: transform 150ms ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.saved {
    position: absolute;
    bottom: 0;
    width: 100%;
    p {
        background-color: var(--background-color);
        color: var(--white);
        padding: 8px 16px;
        border-radius: 4px 4px 0 0;
        font-size: 12px;
    }
}
