<div class="movie-card" [routerLink]="'/movie/' + movie.id">
    <img [src]="'assets/posters/' + movie.posterFileName" [alt]="movie.title + '\'s movie poster'">
    <ng-container *ngIf="isMovieInMyList(movie)">
        <div class="saved flex-row align-center centered">
            <p>On my watchlist</p>
        </div>
    </ng-container>
</div>