<nav>
  <div class="flex-row gap-16 align-center">
    <div class="nav-icon flex-row">
      <span class="material-symbols-outlined">
        masked_transitions
      </span>
    </div>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/my-list" routerLinkActive="active">My List</a>
  </div>
</nav>

<router-outlet></router-outlet>
