nav {
    padding: 16px 40px;
}

a {
    color: var(--white);
    text-decoration: underline transparent;
    transition: text-decoration 300ms ease;
    &:hover {
        text-decoration-color: var(--white);
    }
}

.active {
    text-decoration-color: var(--white);
}

.nav-icon span {
    font-size: 32px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
