<div class="flex-row centered">
    <div class="content">
        <div class="filters flex-row align-center gap-16">
            <div class="sort-button" (click)="sortByTitle()" [ngClass]="{'active': activeFilter == 'title'}">
                Sort by title
            </div>
            <div class="sort-button" (click)="sortByDateDescending()" [ngClass]="{'active': activeFilter == 'date'}">
                Sort by release date
            </div>
        </div>
        <div class="flex-row movies-container gap-16 space-evenly flex-wrap">
            <ng-container *ngFor="let movie of movies">
                <app-movie-card [movie]="movie"></app-movie-card>
            </ng-container>
        </div>
    </div>
</div>