.filters {
    margin-bottom: 16px;
}

.sort-button {
    padding: 8px 16px;
    border: 2px solid var(--background-color);
    border-radius: 24px;
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 300ms ease;
    &:hover {
        background-color: var(--background-color);
        color: var(--white);
    }
}