* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f12818;
    --white: #fff8ef;
    --black: #121212;
    --container-color: #fff8ef;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--background-color);
    color: var(--white);
}

h1,
h2,
h3 {
    font-family: "Syne", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.centered {
    justify-content: center;
}

.gap-16 {
    gap: 16px;
}

.gap-8 {
    gap: 8px;
}

.content {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    margin: 16px 8px 0 8px;
    padding: 16px 32px;
    border-radius: 2px;
}

.big-title {
    font-size: clamp(16px, 5vw, 64px);
}

.flex-wrap {
    flex-wrap: wrap;
}
